@media screen and (max-width: 800px){
  .menu-desktop {
    display: none;
  }
  .wrap-menu {
    display: block;
  }
  .MissaVisaoValores-box {
    grid-column: 1 / span 12;
    margin-bottom: 30px;
    min-height: 20vh;
   
  }
}
@media screen and (max-width: 750px) {
 
  .empresa p{

  letter-spacing:0;
  }
  .MissaVisaoValores-box {
   
    margin-top: 5px;
    width: 100%;
    min-width: 200px;
 
  }

  .footer {
    position: relative;
   
  }
}

